    body {
      margin: 0;
      font-family: 'Helvetica Neue', sans-serif;
      background: #eddcd9;
      color: #333;
    }

    header {
      background: #f2ebe9;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 1.8rem;
    }

    .nav-buttons button {
      margin-left: 10px;
      padding: 10px 16px;
      border: none;
      background-color: #333;
      color: #f2ebe9;
      cursor: pointer;
      border-radius: 4px;
    }

    .hero {
      background: url("images/Table.jpg") center/cover no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .hero-products {
      background: url("images/pantry.jpg") center/cover no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .hero h2, .hero-products h2 {
      font-size: 3rem;
      background: rgba(0,0,0,0.4);
      padding: 20px;
    }


    .section {
      padding: 60px 20px;
      max-width: 1000px;
      margin: auto;
    }

    .section h2 {
     font-size: 2rem;
     text-align: center;
     margin-bottom: 20px;
     border-bottom: 2px solid #333;
     padding-bottom: 10px;
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
    }

    .product {
      border: 1px solid #f0f1;
      padding: 20px;
      width: 280px;
      text-align: center;
      border-radius: 8px;
    }

    .product img {
      width: 100%;
      border-radius: 4px;
    }

    .product h3 {
      margin: 10px 0 5px;
    }

    .product p {
      margin: 5px 0 15px;
    }

    .product button {
      padding: 10px 16px;
      background: #333;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    .cart-status {
      margin-top: 40px;
      background: #264143;
      color:white;
      padding: 20px;
      border-radius: 8px;
    }

    .modal {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.6);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background: white;
      padding: 40px;
      border-radius: 8px;
      text-align: center;
    }

    .modal-content input {
      display: block;
      margin: 10px auto;
      padding: 10px;
      width: 80%;
    }

    .modal-content button {
      margin-top: 10px;
    }